/*-- GLOBAL --*/
html { 
  background: url(/img/runway-new.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/runway-new.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/runway-new.jpg', sizingMethod='scale')";
}

#main{width:100%;}
header{position:fixed;left:20px;top:20px;}
header > nav, header > div{background:rgb(255,255,255); background:rgba(255,255,255, .8);padding:25px; width:150px;}
header > div{margin-top:20px;}
.container{width:700px; width:800px; float:left; margin-left:240px;margin-top:20px; padding:25px; background:rgb(255,255,255); background: rgba(255,255,255,.8); margin-bottom:30px;}
.nav{padding:0; margin:0; list-style-type:none; line-height:25px;}
.nav a{text-decoration:none; font-weight:bold;}
ul.contentList{list-style-type:none; padding:0;}
ul.contentList > li{margin-bottom:30px; border-bottom:1px solid #eee;}
ul.contentList > li ul{list-style-type:square;}

/*-- HOME --*/
.container .img-box{background:url('/img/airplane-competition-grainy.jpg') no-repeat;height:600px;position:relative;}
.container .img-overlay{font-family:Courier, serif;font-size:16px;position:absolute;right:86px;top:98px;width:200px;color:#424141;}

/*-- ADVENTURE --*/
#gmap{width:100%; height:300px; border:1px solid #999;}
.schedule h3{text-transform:uppercase;color:#444;background-image:url("/img/iconmonstr-time-10-icon.svg");background-size:26px 26px;background-repeat:0;background-repeat:no-repeat;padding:2px 0 0 28px;margin:4px 0;font-size:22px;}
.time-meta{font-weight:bold;text-indent:32px;text-transform:uppercase;color:#777;font-size:13px;margin-bottom:10px;width:100%;display:block;}

/*-- PROVISIONS --*/
