/*-- GLOBAL --*/
#main{width:100%;}
header{position:fixed;left:20px;top:20px;background:#eee;padding:25px; width:150px;}
.container{width:700px; width:800px; float:left; margin-left:240px;margin-top:20px;}
.nav{padding:0; margin:0; list-style-type:none; line-height:25px;}
.nav a{text-decoration:none; font-weight:bold;}

/*-- HOME --*/
.container .img-box{background:url('/img/airplane-competition-grainy.jpg') no-repeat;height:600px;position:relative;}
.container .img-overlay{font-family:Courier, serif;font-size:16px;position:absolute;right:86px;top:98px;width:200px;color:#424141;}

