<template name="adventure">
	<h1>The Adventure</h1>
	<p class="intro">Please join us for a midsummer weekend of camping, hiking, exploring, drinking and dining at an abandoned airfield in Jamaica Bay.</p>
	<iframe id="gmap" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;t=h&amp;msa=0&amp;msid=103826714364038521627.00048cde4d51278a44990&amp;ll=40.58958,-73.897734&amp;spn=0.029331,0.064373&amp;z=14&amp;output=embed"></iframe><br />
  <ul class="contentList">
		<li>
			<h3>12pm &ndash; 4pm</h3>
		  <span class="time-meta">arrival, lunch, exploration</span>
			<ul>
				<li>Activities including but not limited to:</li>	
        <li>Historic aircraft tours in nearby Hangar B</li>
        <li>Long walks down scenic abandoned runways 1-19 and 12-30</li>
        <li>A half-hour stroll over the Marine Parkway Bridge to Fort Tilden and Jacob Riis beaches</li>
        <li>Archery, remote-control car driving, and model airplane flying (equipment not included)</li>
        <li>Tent-pitching, campsite setup, territory marking</li>				
			</ul>					
		</li>	
		<li>
			<h3>4pm &ndash; 8pm</h3>
		  <span class="time-meta">campsite activities</span>
			<ul>
        <li>Team sports</li>
        <li>Unstructured social time</li>
        <li>Surreptitious dinner preparation</li>
        <li>Meditative airplane-watching as flights take off and land at JFK across the bay</li>
        <li>Feats of strength and will</li>
			</ul>					
		</li>	
		<li>
			<h3>8pm &ndash;10pm</h3>
		  <span class="time-meta">evesong</span>
			<ul>
        <li>Dinner (provided)</li>
        <li>Night golf (miniature)</li>
        <li>Exploration of forest primeval</li>
			</ul>					
		</li>	
		<li>
			<h3>10pm &ndash;1am</h3>
		  <span class="time-meta">camping</span>
			<ul>
        <li>Campfire with s'mores</li>
        <li>Hot chocolate</li>
        <li>Hot chocolate with peppermint schnapps</li>
        <li>Silent disco dance party (optional)</li>
			</ul>					
		</li>	
		<li>
			<h3>1am &ndash; 2am</h3>
		  <span class="time-meta">after after-party</span>
			<ul>
        <li><img src=""/></li>
			</ul>					
		</li>	
		<li>
			<h3>10am</h3>
		  <span class="time-meta">tearful departure</span>
			<ul>
        <li>Profoundly changed, Floyders pack their belongings and take their first tentative steps on the long road home</li>        
        <li>That road is Flatbush Avenue</li>
			</ul>					
		</li>	
		<li>
			<h3>11am</h3>
		  <span class="time-meta">brunch</span>
			<ul>
				<li>Dim sum on Avenue U</li>
			</ul>					
		</li>	
	</ul>
</template>