<template name="adventure">
<h1>The Adventure</h1>
<div class="left-col">
	
	<div id='content'>
      <div id='map-embed'>
        <iframe width="450" height="503" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;t=h&amp;msa=0&amp;msid=103826714364038521627.00048cde4d51278a44990&amp;ll=40.58958,-73.897734&amp;spn=0.029331,0.064373&amp;z=14&amp;output=embed"></iframe><br />
      </div>
      <div id='adventure'>
        <h1>the adventure</h1>
        <p id='intro'>
          Please join us for a midsummer weekend of camping, hiking, exploring,
          drinking and dining at an abandoned airfield in Jamaica Bay.
        </p>
        <div id='accordion'>
          <h3>
            <span class='timeframe'>12pm &ndash; 4pm</span>
            <span class='inlinehead'>arrival, lunch, exploration</span>
          </h3>
          <div class='div'>
            <div class='intro' style='font-style:italic;'>Activities including but not limited to:</div>
            <ul class='arrival'>
              <li>Historic aircraft tours in nearby Hangar B</li>
              <li>Long walks down scenic abandoned runways 1-19 and 12-30</li>
              <li>A half-hour stroll over the Marine Parkway Bridge to Fort Tilden and Jacob Riis beaches</li>
              <!-- %li Climbing, ice hockey, indoor soccer and gymnastics at the Aviator Sports complex ($15 day pass) -->
              <li>Archery, remote-control car driving, and model airplane flying (equipment not included)</li>
              <li>Tent-pitching, campsite setup, territory marking</li>
            </ul>
          </div>
          <h3>
            <span class='timeframe'>4pm &ndash; 8pm</span>
            <span class='inlinehead'>campsite activities</span>
          </h3>
          <ul class='afternooon'>
            <li>Team sports</li>
            <li>Unstructured social time</li>
            <li>Surreptitious dinner preparation</li>
            <li>Meditative airplane-watching as flights take off and land at JFK across the bay</li>
            <li>Feats of strength and will</li>
          </ul>
          <h3>
            <span class='timeframe'>8pm &ndash;10pm</span>
            <span class='inlinehead'>evensong</span>
          </h3>
          <ul class='evensong'>
            <li>Dinner (provided)</li>
            <li>Night golf (miniature)</li>
            <li>Exploration of forest primeval</li>
          </ul>
          <h3>
            <span class='timeframe'>10pm &ndash; 1am</span>
            <span class='inlinehead'>camping</span>
          </h3>
          <ul class='camping'>
            <li>Campfire with s'mores</li>
            <li>Hot chocolate</li>
            <li>Hot chocolate with peppermint schnapps</li>
            <li>
              Silent disco dance party (optional)
            </li>
          </ul>
          <h3>
            <span class='timeframe'>1am &ndash; 2am</span>
            <span class='inlinehead'>after after-party</span>
          </h3>
          <p id='rami'>Rami</p>
          <h3>
            <span class='timeframe'>10am</span>
            <span class='inlinehead'>tearful departure</span>
          </h3>
          <ul>
            <li>Profoundly changed, Floyders pack their belongings and take their</li>
            first tentative steps on the long road home
            <li>That road is Flatbush Avenue</li>
          </ul>
          <h3>
            <span class='timeframe'>11am</span>
            <span class='inlinehead'>brunch</span>
          </h3>
          <ul class='breakfast'>
            <li>Dim sum on Avenue U</li>
          </ul>
        </div>
      </div>
    </div>
    
	
	
	
	
</div>
<div class="right-col">
	
</div>
</template>