<template name="directions">
    <h2 class='intro'>
      Floyd Bennett Field is located on Flatbush Avenue in Brooklyn, NY. For details, see <a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=103826714364038521627.00048cde4d51278a44990&ll=40.594142,-73.889065&spn=0.086682,0.181103&z=13">this map</a>.
    </h2>
    <h2 class='subway'>By Subway &amp; Bus</h2>
    <p class='subway'>Take the 2 train to Flatbush Avenue, then transfer outside to the Q35 bus toward the Rockaways. Ask the driver to let you off at the main entrance to Floyd Bennett Field. After you enter Floyd Bennett Field, you can inquire at the ranger station about the shuttle to Hangar B, or walk and follow signs toward Hangar B, or call John at (646) 369-8093 and we can pick you up at the gate.</p>
    <h2 class='car'>By Car</h2>
    <p class='car'>
      Take the Belt Parkway to Exit 11S. Then follow Flatbush Avenue all the way south to Floyd Bennett Field's main entrance. After you enter Floyd Bennett Field, follow signs to "Hangar B," then park at the campground parking and enter the woods across the runway to find Camp Tamarack.
    </p>
</template>