<template name="provisions">
  <h1>What To Bring</h1>
    <ul class="contentList">  
      <li>
        <h3>These items will be provided.</h3>  
        <ul>
          <li>campsite</li>
          <li>restrooms</li>
          <li>dinner</li>
          <li>s'mores ingredients</li>
          <li>fire</li>
        </ul>
      </li>  
      <li>
        <h3>We recommend you bring these items.</h3>  
        <ul>
          <li>tent / friend with tent / <a href="http://www.tenttrails.com/rental_equipment.htm">rental tent</a></li>
          <li>sleeping bag, sleeping pad, pillow</li>
          <li>flashlight, head lamp, and/or bike lights</li>
          <li>snacks; lunch to eat &amp; share</li>
          <li>bowl, cup, napkin, spoon/spork</li>
          <li>drinks for you, friends, and<a href="http://www.youtube.com/v/kfhCfdmJnJk?rel=0&amp;controls=0&amp;autoplay=1">Floozy Bennett</a></li>
          <li>$TBD to cover campsite and essentials (though we prefer you <a href="/payment">pay in advance</a>)</li>
        </ul>
      </li>  
      <li>
        <h3>These items are optional</h3>  
        <ul>
          <li>camping lantern</li>
          <li>bicycle</li>
          <li>musical instruments, balls, other amusements</li>
          <li>note: this list is not exhaustive</li>
        </ul>
      </li>          
    </ul>
    <div class="featured-content">
      <span>Questions? Email <a href="mailto:hotline@floyding.com">hotline@floyding.com</a>.</span>      
    </div>
</template>