<template name="rsvp">
    <form>
      <div class='column1'>
        <div class='row'>
          <label for='name'>Name</label>
          <input name='name' type='text' />
        </div>
        <div class='row'>
          <label for='email'>Email</label>
          <input name='email' type='text' />
        </div>
        <div class='row'>
          <label for='address'>Home address</label>
          <input name='address' type='text' />
        </div>
        <div class='row'>
          <label for='citystatezip'>City, State, ZIP</label>
          <input name='citystatezip' type='text' />
        </div>
        <div class='row'>
          <label for='number_in_party'>Number in party</label>
          <input name='number_in_party' type='text' />
        </div>
        <div class='row'>
          <label for='payment_method'>Payment method</label>
          <select name='payment_method'>
            <option>-- choose one --</option>
            <option>$X in advance</option>
            <option>$X+X' at the door</option>
          </select>
        </div>
        <!--
          <div class='row'>
            <label for='# in party'># in party</label>
            <select name='number_in_party'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
        -->
      </div>
      <div class='column2'>
        <label for='comments'>Describe your Floyding hopes and dreams.</label>
        <textarea id='dreams' name='dreams'></textarea>
      </div>
      <button style='clear:both;' type='submit'>Submit</button>
    </form>
</template>